@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }


nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  div > img {
    height: 100px;
    width: 100px;
  }

 .left-nav{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
 }
 .left-nav >*{

    padding-right: 15px;
    align-items: center;
 }

 .left-nav > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
 }

 
 .container{
   margin: 50px;
   display: flex;
   align-items: center;   
   justify-content: center;
 }
 .info-2{
   padding-left: 200px;
   text-align: center;
 }

 .info > h5{
   font-size: 40px;
   font-weight: 500;
   width: 500px;
 }
 .container > div  > img{
   height: 200px;
   width: 200px;
 }
 button{
   height: 40px;
   width: 170px;
   background-color: #5c97f6;
   color: white;
   border-radius: 5px;
   display: inline-flex;
   align-items: center;
   justify-content: space-around;
 }
 .btninput{
   display: flex;
   
   gap: 10px;
   justify-content: space-between;
 }
input{
   height: 35px;
   border: 2px solid #9f9f9f;
   border-radius: 5px;
}
p {
   width: 300px;

}
.participer{
   height: 40px;
   width: 170px;
   background-color: white;
   color: grey;
   border: none;

}

